<html>
<head>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
</head>
<body>
	<p class="passphrase">{{ passphrase }}</p>
	<textarea class="passphrase">{{ passphrase }}</textarea>
	<textarea id="successmessage"></textarea>
	<div class="refresh">
		<img src="/static/refresh.png"/>
	</div>
</body>
<script type="text/javascript">
	// Desktop version
	var copyText = document.querySelector('p.passphrase')

	copyText.addEventListener('click', function(event) {
	  var textArea = document.querySelector('textarea.passphrase');
	  textArea.selectionStart=0;
	  textArea.selectionEnd=textArea.value.length;
	  document.execCommand('copy');
	  
	  var successMessage = document.querySelector('#successmessage');
	  successMessage.value = 'Copied!';
	  setTimeout(function () {
	  	successMessage.value = '';
	  }, 500);

      
	});
	
	// Mobile version
	// On mobile it isn't possible (or at least easy) to trigger
	// a copy action. The best I can do is to select everything in
	// the text area, and trigger the copy dialog to appear.
	// This is only useful if the textarea is actually visible,
	// so for mobile I've made the textarea appear, but the p hidden.
	// As a result, the textarea must be the click trigger.
	var textArea = document.querySelector('textarea.passphrase');
	
	textArea.addEventListener('click', function(event) {
	  this.selectionStart=0;
	  this.selectionEnd=textArea.value.length;
	  document.execCommand('copy');
	});

	var refreshButton = document.querySelector('div.refresh img');
	refreshButton.addEventListener('click', function(event) {
		location.reload();
	});
</script>
</html>