body {
	background-color: #fdf6e3;
	color: #268bd2;
	font-family: "courier",  "sans-serif";
	padding: 20px;
}

p {
	font-size: 20px;
}

@media (max-width: 500px) {
  p {
  	width: 300px;
  	font-size: 30px;
  }
}

